<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

</nav>
<div class="container">  
  <div class="card">
    <div class="card-header">
     This is app component 
    </div>
    <div class="card-body">
      <div class="row"> 

        <div class="col-md-12">
          <app-calculator></app-calculator>
        </div>
     
      </div>
     
    </div>
  </div>
</div>